@import '../fonts/icomoon/style.css';

body {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  min-width: 280px;
  background: #e5e5e5;
  overflow-x: hidden;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #2b2839;
}
h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

* {
  box-sizing: border-box;
}

.btn,
.link {
  color: #fff;
  transition: all 0.1s ease-in;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.inp {
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  padding: 8px 12px;
  outline-color: #3b71ca;
}

.inp::placeholder {
  color: #a5a5a5;
}
